//专辑bk信息
$bk-info-bg: #f0f0f0;
$bk-infr-name: #222326;
$bk-intr-color: #666;

.bk {
  display: flex;
  width: 100%;
}
.bk-info {
  display: flex;
  width: 100%;
  padding: 1.875rem 2.5rem;
  background-color: $bk-info-bg;
  .bk-pic {
    max-width: 11rem;
    max-height: 11rem;
    width: 100%;
    height: 100%;
  }
  .bk-name {
    padding: 0 1.5rem;
    .bk-infr-name {
      color: $bk-infr-name;
      margin: 0 0 .75rem;
    }
    .bk-intr {
      display: flex;
      font-size: .75rem;
      line-height: 18px;
      color: $bk-intr-color;
      .intr-art-name {
        padding-right: .75rem;
        a {
          color: #6666ff;
        }
      }
    }
    .intr-control {
      display: flex;
      margin: .75rem .75rem 0 0;
      text-align: center;
      line-height: 15px;
    }
    .bk-collect {
      display: inline-flex;
      padding: .25rem 2.25rem;
      border-radius: 15px;
      border: 1px solid #6666ff;
      color: #f0f0f0;
      justify-content: center;
      align-items: center;
      background-color: #6666ff;
      font-size: .75rem;
    }
    .intr-desc {
      font-size: .75rem;
      margin: .75rem .75rem 0 0;
      span {
        font-weight: bold;
      }
      p {
        line-height: 24px;
        margin-top: 4px;
        text-indent: 2em;
        height: 3.125rem;
        overflow: hidden;
        color: $bk-intr-color;
      }
      .load {
        float: right;
        color: $bk-intr-color;
        border: 1px solid;
        cursor: pointer;
      }
    }
  }
}

.bk-play-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  i {
    font-size: 1.25rem;
    color: #6666ff;
    padding-right: .25rem;
  }
}