html,
body {
  font-size: 100%; }

.wrap {
  min-width: 1012px;
  min-height: 630px;
  width: 100%;
  display: flex;
  flex-direction: row; }
  .wrap .wrap-siderbar {
    width: 200px;
    box-sizing: border-box;
    background: #212426; }
    .wrap .wrap-siderbar .title {
      margin: 0;
      padding: 12px 20px;
      background-color: #6666ff;
      text-align: center; }
  .wrap .wrap-body {
    flex: 1; }
