
.person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.header-title .person .person-name {
  font-size: .8rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.header-title .icon-person {
  font-size: 2rem;
}

.header {
  -webkit-app-region: drag;
}

.header-back {
  -webkit-app-region: no-drag;
  cursor: pointer;
}