.nav {
  position: relative;
  margin: 40px;
  box-sizing: border-box;
  .nav-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 2px;
    height: 100%;
    background-color: #414550;
  }
  a {
    position: relative;
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: left;
    color: #9da0a7;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: bold;
    &.active {
      color: #fff;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -18px;
        width: 2px;
        height: 100%;
        background: linear-gradient(to left, #6666ff,#fff);
        box-shadow: 1px 1px 30px;
      }
    }
  }
}