.user {
  position: fixed;
  box-sizing: border-box;
  z-index: 999;
  top: 350px;
  left: 0;
  color: #9da0a7;
  font-size: .9rem;
  display: flex;
  margin-left: 40px;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: center;
  .user-title {
    font-size: .8rem;
    cursor: pointer;
  }
    .user-login {
      .person-name {
        cursor: pointer;
        height: 28px;
        line-height: 28px;
      }
    }

    .user-list {
      height: 18px;
      line-height: 18px;
    }
}
