.login {
  position: absolute;
  top: 100px;
  right: 300px;
  width: 300px;
  height: 200px;
  border: 1px solid #6666ff;
  z-index: 999999;
  background-color: #fff;
  .login-dele {
    float: right;
    padding: 2px;
  }
  .search-tab {
    width: 100%;
    margin: 10px auto;
    border-bottom: 1px solid #c9c8c8;
    .tab-sub {
      display: inline-block;
      margin-right: 20px;
      width: auto;
      padding: 0 20px;
      height: 24px;
      line-height: 24px
    }
    .active {
      position: relative;
    }
    .active::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: linear-gradient(to bottom, #c9c8c8, #6666ff, #fff);
    }
  }
  .search-result {
    width: 100%;
    margin: 10px auto;
    .tab-item {
      display: none;
      opacity: 0;
    }
    .show {
      display: block;
      opacity: 1;
    }
  }
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}